<nav class="navbar">
  <a routerLink="/home" class="logo">
    Sala de Juegos
  </a>

  <div class="links">
    <a routerLink="/home">Home</a>
    <a routerLink="/quien-soy">Quién Soy</a>

    <ng-container *ngIf="!userProfile(); else loggedLinks">
      <a routerLink="/login">Login</a>
      <a routerLink="/register">Registro</a>
    </ng-container>

    <ng-template #loggedLinks>
      <span class="user-name">
        Hola, {{ userName() }}
      </span>

      <button
        type="button"
        class="logout-btn"
        (click)="logout()"
      >
        Cerrar sesión
      </button>
    </ng-template>
  </div>
</nav>